.imgstyles{
    width: 70vw;
    height: 70vh;
}
.description{
    text-align: center;
    margin-top: 20px;
    font-family: "Kristen ITC";
    color: #000000;
    font-weight: bolder;

}
body{
    background-color: aqua;
}
.nav-link{
    font-family: cursive;
    font-weight: bolder;
}
.card-img-top{
    -webkit-transition: 0.10s ease-in-out;
    transition: 0.10s ease-in-out;
    border-radius: 15px;
}

.card-img-top:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card{
    border-radius: 15px;
}
.footer{
    background: #cce282;
}